/*------------------------------------------------------------------ 
Project:      Inkscape Tutorials   (tutorials)
--------------------------------------------------------------------
[Table of contents]
1. Header and footer
2. Page content
3. Offline specific
4. Online specific
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Header and footer]
*/
.tutorial h1 {
    font: italic normal 2em/1em sans-serif;
    text-transform: lowercase;
    color: #fff;
    padding-top: 10px;
}
.tutorial #tut-intro {
    font-style: italic;
    padding: 0 2em;
    text-align: justify;
    font: italic 1em sans-serif;
    color: #454545;
}
.tutorial h2,
.tutorial h3,
.tutorial h4,
.tutorial h5,
.tutorial h6 {
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.tutorial h2 {
    font-size: 1.3em;
    margin: 1.5em 0 .5em 0;
}
.tutorial h3 {
    font-size: 1em;
    margin: 1.25px 0 .5em 0;
    font-style: italic;
}
.tutorial p {
    margin-bottom: 1em;
    line-height: 1.65em;
}

/*------------------------------------------------------------------
[2. Page content
*/
.tutorial kbd.tutorial-keycombo {}
.tutorial kbd.tutorial-key {
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #555;
    font-weight: bold;
    line-height: 1;
    padding: 3px 5px;
    white-space: nowrap;
    cursor: default;
    letter-spacing: 1px;
    user-select: none;
}
.tutorial kbd.tutorial-key:hover {
    color: black;
}
.tutorial kbd.tutorial-key:active {
    color: black;
    box-shadow: 1px 1px 0px #ddd inset;
}
.tutorial kbd.tutorial-modifierkey {
    display: inline-block;
    background-color: #555;
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .2) inset;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 3px 5px;
    white-space: nowrap;
    cursor: default;
    letter-spacing: 1px;
    user-select: none;
}
.tutorial kbd.tutorial-modifierkey:hover {
    color: rgba(255, 255, 255, .8);
}
.tutorial kbd.tutorial-modifierkey:active {
    color: rgba(255, 255, 255, .7);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, .2) inset;
}
.tutorial .tutorial-plussign {
    padding: 0 .2em;
}
.tutorial .tutorial-commasign {
    padding: 0 .3em 0 .1em;
}
.tutorial .tutorial-arrowsign {
    padding: 0 .2em;
    font-size: 1.5em;
}
.tutorial kbd.tutorial-mousebutton {
    font: bold 1em mono;
    cursor: default;
    color: #555;
}
.tutorial kbd.tutorial-mousebutton:hover {
    color: black;
}
.tutorial kbd.tutorial-mousebutton:active {
    color: #555;
}
.tutorial kbd.tutorial-mousebutton::before {
    display: inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background-image: url("mouse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.tutorial kbd.tutorial-mousebutton.click::before              { background-position: 0 -24px }
.tutorial kbd.tutorial-mousebutton.double-click::before       { background-position: 0 -48px }
.tutorial kbd.tutorial-mousebutton.middle-click::before       { background-position: 0 -72px }
.tutorial kbd.tutorial-mousebutton.right-click::before        { background-position: 0 -96px }
.tutorial kbd.tutorial-mousebutton.mouse-wheel::before        { background-position: 0 -120px }
.tutorial kbd.tutorial-mousebutton.mouse-drag::before         { background-position: 0 -144px }
.tutorial kbd.tutorial-mousebutton.middle-button-drag::before { background-position: 0 -168px }
.tutorial kbd.tutorial-mousebutton.right-button-drag::before  { background-position: 0 -192px }

.tutorial kbd.tutorial-guimenu,
.tutorial kbd.tutorial-guisubmenu,
.tutorial kbd.tutorial-guimenuitem {
    color: #6495ED;
    font: italic small-caps bold 1.33em sans-serif;
}
.tutorial kbd.tutorial-menuchoice {
    color: #777;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 -0.1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}
.tutorial kbd.tutorial-menuchoice:hover {
    background-size: 100% 100%;
}
.tutorial span.firstterm {
    font-style: italic;
}
.tutorial code.tutorial-command,
.tutorial code.tutorial-code  {
    font-size: 1em;
    border: 1px solid #b4b4b4;
    background-color: #eee;
    padding: .25em;
}
.tutorial kbd.tutorial-guilabel,
.tutorial kbd.tutorial-guibutton {
    font-style: italic;
    font-size: 1.33em;
}
.tutorial object {
    display: block;
    width: 100%;
    margin: 2em 0;
}

/*------------------------------------------------------------------
[3. Offline specific - Only for offline version
*/
body.tutorial {
    background: #fff;
    font: 1em sans-serif;
    text-align: center;
}
body.tutorial h1 a {
    display: inline-block;
    width: 400px;
    height: 30px;
    color: transparent;
    text-decoration: none;
    margin: 0;
}
body.tutorial h1 #tut-title {
    display: inline-block;
    margin-left: 470px;
    text-transform: uppercase;
    font-style: normal;
    font-size: .6em;
    letter-spacing: .25em;
}
body.tutorial #tut-container {
    margin: 0 auto;
    width: 750px;
    text-align: left;
    margin-top: 7px;
    position: relative;
    background: url("_tutorial-header.svg") no-repeat 0 -7px/750px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}
body.tutorial #tut-container::before {
    display: block;
    content: " ";
    width: 750px;
    height: 7px;
    background: url("_tutorial-header.svg") no-repeat 0 0/750px;
    position: absolute;
    top: -7px;
}
body.tutorial #tut-header {}
body.tutorial #tut-content {
    padding: 0 15px;
}
body.tutorial #tut-footer {
    margin-top: -50px;
    height: 160px;
    background: url("_tutorial-footer.svg") no-repeat 0 0/750px;
    border-top: none;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

/*------------------------------------------------------------------
[4. Online specific - Only for website
*/
body:not(.tutorial) .wrapper .tutorial div#tut-header,
body:not(.tutorial) .wrapper .tutorial div#tut-footer {
    display: none;
}
body:not(.tutorial) .tutorial kbd.tutorial-mousebutton::before { /* only on website */
    background-image: url("https://media.inkscape.org/media/doc/tutorials/mouse.svg");
}
body:not(.tutorial) .tutorial kbd.tutorial-guimenu, /* only on website */
body:not(.tutorial) .tutorial kbd.tutorial-guisubmenu,
body:not(.tutorial) .tutorial kbd.tutorial-guimenuitem,
body:not(.tutorial) .tutorial kbd.tutorial-guilabel,
body:not(.tutorial) .tutorial kbd.tutorial-guibutton {
    font-size: 1em;
}
